{% extends "base.html" %}
{% load static %}
{% block title %} Home {% endblock %}

{% block css %}
<style>
  .btn-primary {
    background-color: #1e2c3a;
    color: #fff;
    font-size: 25px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px #152d45;
  }

  .btn-primary:hover {
    background-color: #41607e;
  }

  .btn-secondary {
    background-color: #e23d40;
    color: #fff;
    font-size: 20px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgb(255, 0, 0);
  }

  .modal-content {
    border: 1.5px solid white;
    box-shadow: 0px 0px 15px rgba(108, 134, 247, 1);
    border-radius: 25px;
    position: relative;
    background: rgba(255, 255, 255, 0.8);
  }

  .modal-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('{% static "bg.png" %}');
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    opacity: 0.6;
    z-index: -1;
  }

  .modal-header {
    display: flex;
    align-content: center;
  }

  .container h5 {
    color: #273057;
    font-size: 45px;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .container .mb-3 {
    font-size: 25px;
    font-weight: bold;
    color: #273057;
    padding-bottom: 10px;
  }

  .container .mb-3 .form-control {
    border: 1.2px solid rgb(255, 255, 255);
    font-family: "Courier New", Courier, monospace;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: black;
  }

  .form-check-input:checked,
  .form-check-input:not(:checked) {
    border: 2px solid black;
  }
</style>
{% endblock %}

{% block body %}
<form action="/" method="post">
  {% csrf_token %}
  <div class="container my-3">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header justify-content-center">
            <h5 class="modal-title" id="exampleModalLabel">Add Task</h5>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="tasknames" class="form-label">Task Name</label>
              <input type="text" class="form-control" id="title" name="title" placeholder="Enter Task Name" />
            </div>
            <div class="mb-3">
              <label for="taskDescription" class="form-label">Task Description</label>
              <textarea class="form-control" id="desc" name="desc" rows="4"
                placeholder="Enter Task Description"></textarea>
            </div>
          </div>
          <div class="modal-footer justify-content-center">
            <button type="submit" class="btn btn-primary mr-4">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- add task form end  -->

    <!-- pop-up Btn for add task -->
    <div class="d-flex justify-content-center mt-5">
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModal">
        + Add Task
      </button>
    </div>
    <!-- pop-up Btn for add task end -->
  </div>
</form>

<!-- task section -->
{% if tasks %}
<div class="containers mx-5 my-3 d-flex flex-column justify-content-center align-items-center"
  style="background-color: #f7f7f8; border-radius: 25px; overflow-y: auto">
  <table class="table table-borderless"
    style="width: 90%; font-size: 25px; box-shadow: 0px 0px 80px rgb(139, 157, 239); border-radius: 20px; margin-top: 15px;">
    <thead style="font-size: 28px">
      <tr>
        <th colspan="4" class="text-center"
          style="font-size: 40px; background-color: #5c78f6; color: white; border-radius: 20px; border-bottom-left-radius: 0; border-bottom-right-radius: 0;">
          Your Todo-List
        </th>
      </tr>
      <tr>
        <th scope="col" style="width: 10%">No.</th>
        <th scope="col" style="width: 20%">Task</th>
        <th scope="col" style="width: 40%">Details</th>
        <th scope="col" style="width: 30%">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td style="font-weight: bold; text-transform: capitalize; color: #273057">
          {{ task.tasktitle }}
        </td>
        <td>{{ task.taskdesc }}</td>
        <td class="d-flex align-items-center justify-content-between mx-5">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="flexCheckDefault">
          </div>
          <div>
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#updateModal{{ task.id }}"
              style="color: #152d45">
              <i class="fas fa-edit me-4 fs-5"></i>
            </button>
            <a href="delete/{{task.id}}" id="{{task.id}}" style="color: #152d45"><i class="fas fa-trash fs-5"></i></a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="containers mx-5 d-flex justify-content-center align-items-center"
  style="background-color: #f2bfbf; height: 350px; border-radius: 25px">
  <h1 class="text-center" style="font-size: 60px">There is no Task yet</h1>
</div>
{% endif %}

<!-- task section end -->
<!-- Update Task Modals -->
{% for task in tasks %}
<div class="modal fade" id="updateModal{{ task.id }}" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel">Update Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'update_task' task.id %}" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="tasknames" class="form-label">Task Name</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ task.tasktitle }}" />
          </div>
          <div class="mb-3">
            <label for="taskDescription" class="form-label">Task Description</label>
            <textarea class="form-control" id="desc" name="desc" rows="4">{{ task.taskdesc }}</textarea>
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<script>
  document.querySelector("form").addEventListener("submit", function () {
    window.location.reload();
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-FgcDDbSiBsAOKAN6X3u5vV35VqSlg6tIgJ1DZU5MqWvJrlO/j1AAldzqPiIF" crossorigin="anonymous"></script>
{% endblock %}