{% extends "base.html" %}
{% block title %} Completed Tasks {% endblock %}
{%block ahome%}
<a class="nav-link" aria-current="page" href="/">Home</a>
{%endblock%}
{%block atask%}
<a class="nav-link active" href="/task">Tasks</a>
{%endblock%}
{% block body %}
{% if Ctasks|length > 0 %}
<div class="containers mx-5 my-3 d-flex flex-column justify-content-center align-items-center"
  style="background-color: #f7f7f8; border-radius: 25px; overflow-y: auto">
  <table class="table table-borderless"
    style="width: 90%; font-size: 25px; box-shadow: 0px 0px 80px rgb(139, 157, 239); border-radius: 20px; margin-top: 15px;">
    <thead style="font-size: 28px">
      <tr>
        <th colspan="4" class="text-center"
          style="font-size: 40px; background-color: #5c78f6; color: white; border-radius: 20px; border-bottom-left-radius: 0; border-bottom-right-radius: 0;">
          Completed Tasks
        </th>
      </tr>
      <tr>
        <th scope="col" style="width: 10%">No.</th>
        <th scope="col" style="width: 20%">Task</th>
        <th scope="col" style="width: 40%">Details</th>
        <th scope="col" style="width: 30%">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for task in Ctasks %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ task.Ctasktitle }}</td>
        <td>{{ task.Ctaskdesc }}</td>
        <td class="d-flex align-items-center justify-content-between mx-5">
          <div>
            <a href="cdelete/{{ task.id }}" id="{{ task.id }}" style="color: #152d45">
              <i class="fas fa-trash fs-5"></i>
            </a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="containers mx-5 my-4 d-flex justify-content-center align-items-center"
  style="background-color: #f2bfbf; height: 350px; border-radius: 25px">
  <h1 class="text-center" style="font-size: 60px">There is no Task yet</h1>
</div>
{% endif %}
{% endblock %}
